{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    {% include 'cdnlines.html' %}
    <title></title>
  </head>
  <body>
    {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/1.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/2.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/3.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/4.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/5.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/6.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/7.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{% static 'desheddingbrushes/8.jpg' %}" alt="Card image" style="height:100%,width:100%">
          <div class="card-body">
            <h4 class="card-title">Price:</h4>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
  </body>
</html>