{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% include 'cdnlines.html' %}
    <title></title>
  </head>
  <body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/1.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/2.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/3.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/4.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/5.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/6.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/7.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static 'toys/8.jpg' %}" alt="Card image" style="height:100%,width:100%">
                <div class="card-body">
                  <h4 class="card-title">Price:</h4>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
          </div>
        </div>
      </div>
{% endblock %}
  </body>
</html>